<p id="notice"><%= notice %></p>

<h1>Bookmarks</h1>

<table>
  <thead>
    <tr>
      <th>URL</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="bookmarksList">
    <% @bookmarks.each do |bookmark| %>
      <%= render 'bookmarks/bookmarklist', bookmark: bookmark %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bookmark', new_bookmark_path %>
